<p>all-tasks works!</p>
<div class="tasksPg">
  <div class="tskTable">
    <table>
      <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; index as i">
          <td>{{ task.id }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.createdAt }}</td>
          <td>
            <button value="Edit" (click)="editTask(task)">Edit</button>
            <button value="Delete" (click)="deleteTask(task.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-task-form
  *ngIf="newTask"
  [task]="newTask"
  (taskSaved)="onTaskSaved()"
  (formClosed)="onFormClosed()"
></app-add-task-form>
