<div class="tasksPg">
  <!-- <div class="searchTask">
    <input type="text" name="" id="txtSearch" />
    <input
      type="button"
      name=""
      id="btnSearch"
      value="Search"
      (click)="getSearchID()"
      data-bs-target="#exampleModalToggle"
      data-bs-toggle="modal"
    />
  </div> -->
  <div class="tskTable">
    <table>
      <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; index as i">
          <td>{{ task.id }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.createdAt }}</td>
          <td>
            <button value="Edit" (click)="editTask(task)">Edit</button>
            <button
              *ngIf="task.id"
              value="Delete"
              (click)="deleteTask(task.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-task-form
  *ngIf="newTask"
  [task]="newTask"
  [hideCloseButton]="true"
  (taskSaved)="onTaskSaved()"
  (formClosed)="onFormClosed()"
></app-add-task-form>

<!-- Display Search Task
<div class="modal modal-dialog-centered" id="taskModal">
  <div class="card text-center">
    <div class="card-header">Featured</div>
    <div class="card-body">
      <h5 class="card-title">{{ showTask.title }}</h5>
      <p class="card-text">{{ showTask.description }}</p>
      <button (click)="hideModalTsk()">Close</button>
    </div>
    <div class="card-footer text-body-secondary">2 days ago</div>
  </div>
</div> -->
