<div class="content">
  <app-add-task-form
    [task]="newTask"
    (taskSaved)="onTaskSaved()"
    (formClosed)="onFormClosed()"
  ></app-add-task-form>
  <!-- <app-add-task-form /> -->
  <div class="tasksRow">
    <div class="tskToDo">
      <h3>To Do</h3>
      <div class="taskCard" id="taskModalToDo" *ngFor="let task of tsksToDo">
        <div class="card text-center" *ngIf="task" id="taskCardToDo">
          <div class="card-header">{{ task.status }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <button (click)="editTask(task)" class="btnEdit">Edit</button>
            <button (click)="deleteTask(task.id)" class="btnDel">Delete</button>
          </div>
          <div class="card-footer text-body-secondary">
            {{ task.createdAt }}
          </div>
        </div>
      </div>
    </div>
    <div class="tskDoing">
      <h3>Doing</h3>
      <div class="taskCard" id="taskModalDoing" *ngFor="let task of tsksDoing">
        <div class="card text-center" *ngIf="task" id="taskCardDoing">
          <div class="card-header">{{ task.status }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <button (click)="editTask(task)" class="btnEdit">Edit</button>
            <button (click)="deleteTask(task.id)" class="btnDel">Delete</button>
          </div>
          <div class="card-footer text-body-secondary">
            {{ task.createdAt }}
          </div>
        </div>
      </div>
    </div>
    <div class="tskDone">
      <h3>Done</h3>
      <div class="taskCard" id="taskModalDone" *ngFor="let task of tsksDone">
        <div class="card text-center" *ngIf="task" id="taskCardDone">
          <div class="card-header">{{ task.status }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <button (click)="editTask(task)" class="btnEdit">Edit</button>
            <button (click)="deleteTask(task)" class="btnDel">Delete</button>
          </div>
          <div class="card-footer text-body-secondary">
            {{ task.createdAt }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
